

.center-border {
    border: 2px solid var(--main-section-color);
    background: rgba(240, 245, 250, 0.7);
    padding: 10px;
    width: 100%;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

