<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repeat</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/fonts.css">
    
    
</head>
<body>

    <header class="header header_light">
        <div class="logo">My Mind Palace</div>
        <nav class="nav">
            <a href="../../index.html" class="nav__button button">
                <span>HTML</span>
            </a>
            <a href="html5.html" class="nav__button button">
                <span>HTML 5</span>
            </a>
            <a href="git.html" class="nav__button button">
                <span>Git</span>
            </a>
        </nav>
    </header>
    
    <main class="main main_light">
        <div class="title-main">
            <span>БЭМ</span>
        </div>
    
        <article class="main__article">
    
            <!-- key -->
            <section class="section">
                <div class="title-section">Блок - Элемент - Модификатор</div>
                <div class="text-small">
                    <div class="text-small-header">Источники:</div>
                    <a class="text-small-link" target="_blank" rel = "noopener" href="https://ru.bem.info/methodology/key-concepts/">
                        <span>Документация БЭМ</span>
                    </a>
                </div>
    
                <div class="content-section">
                    <div class="title-text">Блок</div>                    
                    <div class="img center-border">
                        <img src="https://ru.bem.info/kFetIbKxQdABHhUecbic45Il0Bg.png" alt="">
                    </div>
                    <div class="title-text">Элемент</div>
                    <div class="img center-border">
                        <img src="https://ru.bem.info/cPrdQL4EZZdhPIrcYOayygPBSm4.png" alt="">
                    </div>
                    <div class="title-text">Модификатор</div>
                    <div class="img center-border">
                        <img src="https://ru.bem.info/WSU5nwZla7p44W2tdxiP371xx38.png" alt="">
                    </div>
                </div>
            </section>
    
        </article>

    </main>







    <script src="script.js"></script>
    
</body>
</html>