<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repeat</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/fonts.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
</head>
<body>

    <header class="light">
        <div class="header-logo">My Mind Palace</div>
        <nav>
            <a href="../../index.html" class="link-to-article">
                <span>HTML</span>
            </a>
            <a href="git.html" class="link-to-article">
                <span>Git</span>
            </a>
        </nav>
    </header>
    
    <main class="light">
    
        <!-- html 5 -->
        <article>
            <div class="article-title">
                <span>HTML 5</span>
            </div>
    
            <!-- semantic -->
            <section class="html5-semantic">
                <div class="section-title">Семантика</div>
                <div class="section-tag">
                    <span>Источники:</span>
                    <a target="_blank" rel = "noopener" href="https://www.semrush.com/blog/semantic-html5-guide//">
                        <span>Article - "What is semantic HTML5?"</span>
                    </a>
                    <a target="_blank" rel = "noopener" href="https://html5book.ru/html-tags/">
                        <span>1.2. HTML-элементы</span>
                    </a>
                    <a target="_blank" rel = "noopener" href="https://myrusakov.ru/using-html5-sectioning-elements.html">
                        <span>29. Как использовать секционные элементы в HTML5</span>
                    </a>
                </div>
    
                <div class="section-content">
                    <span>Теги HTML5 для разметки.</span>
                    <span>P.S. Читай title к нужному элементу</span>
            
                    <div class="list">
                        
                        <div class="semantic-header">
                            <span title="начало контента">header</span>
                            <div class="content">
                                <div class="semantic-logo">logo</div>
                                <div class="semantic-nav" title="группа ссылок">navigation menu</div>
                            </div>
                        </div>
                        <div class="semantic-main">
                            <span title="уникальный контент (не logo, не footer)">main</span>
                            <div class="semantic-main-content">
                                <div class="semantic-article" title="статьи, посты; могут быть вложены в другие article">article
                                    <div class="semantic-section" title="раздел article">section 1</div>
                                    <div class="semantic-section" title="раздел article">section 2</div>
                                    <div class="semantic-section" title="раздел article">section 3</div>
                                </div>
                                <div class="semantic-aside" title="ДОПОЛНИТЕЛЬНЫЙ контент, связанный с article, но который нужно отделить">aside</div>
                            </div>
                        </div>
                        <div class="semantic-header">
                            <span>footer</span>
                            <div class="content content2">
                                <div class="semantic-nav">navigation menu</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
    
            <!-- аудио  -->
            <section class="html5-audio">
                <div class="section-title">Аудио</div>
                <div class="section-tag">
                    <span>Источники:</span>
                    <a target="_blank" rel = "noopener" href="https://html5book.ru/specsimvoly-html/">
                        <span>1.12. HTML5-аудио</span>
                    </a>
                </div>
    
                <div class="section-content">
    
                    <span>Добавить иконку можно несколькими способами.</span>
                    <span>P.S. Читай title к нужному элементу</span>
            
                    <div class="list">
                        <div class="cover">
                            <span class="material-icons"></span>
                        </div>

                        <div class="sound">
                            <audio controls title="можно audio src, можно audio > source src"  type="audio/mpeg">
                                <source src="../media/creek.mp3" >
                            </audio>
                        </div>

                        <span class="viewAudio">
                            <input type="checkbox" name="" id="viewAudio" >
                            <label for="viewAudio" title="Атрибут controls"></label>
                        </span>


                    </div>
    
                </div>
            </section>
    
        </article>

    </main>







    <script src="script.js"></script>
    
</body>
</html>