<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repeat</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/fonts.css">
    
    
</head>
<body>

    <header>
        <div class="header-logo">The Mind Palace (or "Memory Palace")</div>
        <nav>
            <a href="../../index.html" class="link-to-article">
                <span>HTML</span>
            </a>
            <a href="git.html" class="link-to-article">
                <span>Git</span>
            </a>
        </nav>
    </header>
    
    <main>
    
        <!-- html 5 -->
        <article class="article-html5">
            <div class="article-title">
                <span>HTML 5</span>
            </div>
    
            <!-- semantic -->
            <section class="semantic">
                <div class="section-title">Семантика</div>
                <div class="section-tag">
                    <span>Источники:</span>
                    <a target="_blank" rel = "noopener" href="https://www.semrush.com/blog/semantic-html5-guide//">
                        <span>Article - "What is semantic HTML5?"</span>
                    </a>
                    <a target="_blank" rel = "noopener" href="https://html5book.ru/html-tags/">
                        <span>1.2. HTML-элементы</span>
                    </a>
                    <a target="_blank" rel = "noopener" href="https://myrusakov.ru/using-html5-sectioning-elements.html">
                        <span>29. Как использовать секционные элементы в HTML5</span>
                    </a>
                </div>
    
                <div class="section-content">
                    <span>Теги HTML5 для разметки.</span>
                    <span>P.S. Читай title к нужному элементу</span>
            
                    <div class="list">
                        
                        <div class="semantic-header">
                            <span>header</span>
                            <div class="content">
                                <div class="semantic-logo">logo</div>
                                <div class="semantic-nav">navigation menu</div>
                            </div>
                        </div>
                        <div class="semantic-main">
                            <span>main</span>
                            <div class="semantic-main-content">
                                <div class="semantic-article">article
                                    <div class="semantic-section">section 1</div>
                                    <div class="semantic-section">section 2</div>
                                    <div class="semantic-section">section 3</div>
                                </div>
                                <div class="semantic-aside">aside</div>
                            </div>
                        </div>
                        <div class="semantic-header">
                            <span>footer</span>
                            <div class="content content2">
                                <div class="semantic-nav">navigation menu</div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </section>
    
        </article>

    </main>







    <script src="script.js"></script>
    
</body>
</html>