<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repeat</title>
    <link rel="stylesheet" href="../../src/css/style.css">
    <link rel="stylesheet" href="../../src/css/fonts.css">
    
    
</head>
<body>

    <header class="header light">
        <a href="../../index.html" class="logo">My Mind Palace</a>
        <nav class="nav">
            <a href="html.html" class="nav__button button">
                <span>HTML</span>
            </a>
            <a href="html5.html" class="nav__button button">
                <span>HTML 5</span>
            </a>
            <a href="css.html" class="nav__button button">
                <span>CSS</span>
            </a>
            <a href="#" class="nav__button button">
                <span>CSS Architecture</span>
            </a>
            <a href="git.html" class="nav__button button">
                <span>Git</span>
            </a>
        </nav>
    </header>
    
    <main class="main light">
        <div class="title-main box-inline-centered text-font-family-Indie-Flower">
            <span>Page</span>
        </div>
    
        <article class="main__article">
    
            <!-- тема -->
            <section class="section box-flex-column">
                <div class="title-section column-content text-font-family-Indie-Flower">Item</div>
                <div class="text-small">
                    <div class="text-small-header">Источники:</div>
                    <a class="text-small-link" href="" target="_blank" rel = "noopener">Документация</a>
                </div>
    
                <div class="button popup-button column-content" id="popup_open"><span>Read More...</span></div>


                <div class="popup" id="popup">
                    <div class="popup__body">
                        <div class="content-section">
                            <div class="title-text">Блок</div>   

                            <div class="img result-view">
                                <img class="img" src="" alt="">
                            </div>

                            <div class="text-bold"></div>
                            <div class="text"></div>
                            <code></code>
                            <span class="result-view"></span>
        
                            <ul class="list">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
    
    
        </article>

    </main>







    <script src="../script/popup.js"></script>
    
</body>
</html>