
/*======  semantic ==========*/

.semantic-header {
    background: #716F81;
    width: 350px;
    margin: 0 0 10px 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.semantic-header .content {
    background: #B97A95;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 90%;
    text-align: center;
}

.semantic-header .content2 {
    grid-template-columns: 1fr;
    text-align: center;
}





.semantic-main {
    background: #716F81;
    width: 350px;
    margin: 0 0 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.semantic-main .semantic-main-content {
    background: #B97A95;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}
.semantic-main .semantic-main-content .semantic-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-right: 1px solid #000;
}
.semantic-main .semantic-main-content .semantic-article .semantic-section {
    background: #F6AE99;
    width: 90%;
    text-align: center;
    margin: 0;

}


/*====== AUDIO ==========*/


/* обложка */

.cover {
    position: relative;
    height: 90px;
    width: 90px;
    margin: 10px;
    background: rgba(255,255,255,.8);
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    transition: .5s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cover:hover {
    cursor: pointer;
}
.cover svg {
    position: absolute;
    font-size: 55px;
}
.cover svg:first-child {
    display: none;
    color: red;
}
.cover svg:last-child {
    display: block;
    color: green;
}
/* .cover:before {
    background: linear-gradient(to top, #e7025a, #e2fa0d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

