

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url(_variables.css);

@import url(header/header.css);
@import url(header/logo.css);
@import url(header/nav.css);

@import url(blocks/boxes.css);
@import url(blocks/buttons.css);
@import url(blocks/card.css);
@import url(blocks/icon.css);
@import url(blocks/img.css);
@import url(blocks/list.css);
@import url(blocks/popup.css);
@import url(blocks/table.css);
@import url(blocks/text.css);
@import url(blocks/titles.css);

@import url(modifier/border.css);
@import url(modifier/rotate.css);
@import url(modifier/opacity.css);

@import url(html5.css);

*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    font-size: 15px;
}

/* ============= article: html, html 5, css and etc. ============= */


.main {
    /* min-height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    height: 100vh;
    overflow: hidden;
}


.main__article {
    margin: 0 auto;
    width: 750px;
    padding: 20px 30px;
}


/* ============= SECTION =======  */

.section {
    width: 100%;
    padding: 0 30px;
    margin: 0 0 20px 0;

    background: var(--main-section-color);
}


/* ============= CONTENT ============= */
.content-section {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    transition: .4s;
}