
.light {
    --main-gradient-color: linear-gradient( rgba(255, 88, 51, 0.8), rgba(199, 0, 56, 0.8));
    /* --main-section-color: #ffd5cc; */
    /* --main-section-color: #f9f8ff; */
    --main-section-color: #f0edff;
    --main-bg-color: #41729f;
    --attention-color: Brown;
    --button-color: #C70039;
    --dark-color: #46466E;
    /* --dark-color: #453750; */

}

