

/* ============ разные размеры текста =============*/

.text-small {
    display: inline-flex;
    font-size: .8em;
    margin: 0 0 20px 0;

    transition: .4s;
}
.text-small a {
    margin-left: 20px;
}
.text-small a:hover {
    scale: 1.1;
}



.text {
    width: 100%;
    font-weight: 400;
    margin: 5px 0;
}




.text-bold {
    text-transform: uppercase;
    font-weight: 500;
}



/* ============ фон текста =============*/


/* dark text  */

.text-dark-background {
    /* background: #19334d; */
    background: var(--dark-color);
    width: 100%;
    color: #fff;
    margin: 5px 0;
    padding: 0 10px;
    display: inline-block;
    line-height: 2em;
}






/* ========== шрифты текста ============== */

.text-font-family-bad-script {

    color: var(--dark-color);
    /* font-family: 'Lobster', cursive; */
    font-family: 'Bad Script', cursive;
    /* font-family: 'Comforter', cursive; */
    /* font-family: 'Marck Script', cursive; */
    letter-spacing: 7px;
}

.text-font-family-Indie-Flower {

    color: var(--dark-color);
    font-family: 'Indie Flower', cursive;
    letter-spacing: 5px;
}