

.text {
    position: relative;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */

    display: block;
    width: 100%;
}


/* small text */

.text-small {
    display: inline-flex;
    font-size: .8em;
    margin: 0 0 20px 0;

    transition: .4s;
}

.text-small a {
    margin-left: 20px;
}
.text-small a:hover {
    scale: 1.1;
}

