

.title-main {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 50px;
}

.title-section {
    align-self: center;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
}

.title-text {
    font-weight: 600;
    padding: 5px 0;
    margin: 0 0 20px 0;
}

