


.title-index {
    font-weight: 700;
    font-size: 6em;
}

.title-main {
    font-weight: 700;
    font-size: 4em;
}

.title-section {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    padding: 10px;
}

.title-text {
    font-weight: 600;
    padding: 0 0 10px 0;
}

