


.title-index {
    font-weight: 700;
    font-size: 6em;
}

.title-main {
    font-weight: 700;
    font-size: 4em;
}

.title-section {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    padding: 10px;
    margin: 0 auto;
}

.title-text {
    font-weight: 600;
    font-size: 1.2em;
    border-bottom: 1px double var(--dark-color);
    margin: 10px auto;
}

