

.logo {
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Bad Script', cursive;
    /* font-family: 'Comforter', cursive; */
    /* font-family: 'Marck Script', cursive; */
}

